*{
  font-family: 'Overlock';
  box-sizing: border-box;
}

body{
  margin: 0;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}

.main-logo {
  margin: 20px 0 10px 25px; 
  cursor: pointer;
}

.no-decoration-title {
  text-decoration: none;
  color: #0B2375;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.socials-container {
  margin: 10px;
}

.navbar {
  display: flex;
  background-color: white;
  margin: 10px 0px 0px 10px;
}

.navbar-item {
  color: #0B2375;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}

.navbar a:hover {
  border-bottom: 3px solid #0B2375;
}

.tradingview-widget-container {
  margin: 0;
  margin-top: 10px;
}

.featured-article {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px 0px 30px 0px;
  border-radius: 15px;
}

.featured-article-image-container {
  margin: 0 40px 4% 0;
  padding: 0px;
}

.featured-article-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.featured-article-heading {
  margin-top: 0px;
}

#img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  image-rendering: auto;
  border-radius: 10px;
}

#image {
  border-radius: 10px
}

.no-decoration {
  text-decoration: none;
  color: black;
}

.decoration {
  color: #8C8C8C;
  
}

footer {
  margin: 0;
  margin-top: 100px;
  padding: 50px 30px;
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.footer-text {
  font-size: 1.5rem;
  margin: 5px;
}

.twitter-dm-button {
  margin: 4px 10px;
}

@media screen and (max-width: 800px) {
  .featured-article-image-container {
    margin: 0 0 4% 0;
  }
}
@media screen and (max-width:600px) {
   .featured-article {
    grid-template-columns: 1fr;
  }
  .featured-article-image {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 393px){
  .navbar-item {
    padding: 10px 10px;
  }
}


